Screen {
    layout: horizontal;
}

.box {
    height: 100%;
    width: 1fr;
    border: solid green;
}

#statusbar {
    position: absolute;
    height: 3;
    border: solid green;
    dock: bottom;
}