.box {
    height: 100%;
    width: 1fr;
    border: solid green;
    overflow-y: auto;
    scrollbar-gutter: stable;
}

#statusbar {
    position: absolute;
    height: 3;
    border: solid green;
    dock: bottom;
}